.navItem{
    border-radius: 22px;
    transition: background-color 0.5s, color 0.4s
}
.navItem:hover {
    color :  #eef0c6;
    background-color: #91c306
}
.navActive{
    border-radius: 22px;
    color :  white;
    background : #696d23
}
